.home-page {
    text-align: left;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

.home-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.home-page nav a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.home-page ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}