.center{
    display: grid;
    justify-content: center;
    align-items: center;
}
.photo-grid {
    display: flex;
    margin-top: 10%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .photo-item {
    width: calc(33.33% - 20px);
    height: auto;
  
  
    overflow: auto;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }