.App {
  font-family: 'Delicious Handrawn', cursive;  min-height: 100vh;

  }
  
  footer {
    position: fixed;
    background-color: gray;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }