
.container{
    justify-content: center;
    align-items:center;
    background-color: aquamarine;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}