body {
  margin: 0;
  font-family: 'Abril Fatface', cursive;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("/Users/addamvictorio/con/src/waterdropwallpp.jpg"); */
  /* background-color: #ffffff; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
